.topbar{
   display: flex;
  align-items: center;
  justify-content: space-between; /* 🔥 clave */
  padding: 0 16px;
  background:#1e1e1e;
}

.topbar button{
  display:flex;
  align-items:center;
  gap:5px;
  padding:8px 12px;
  border:none;
  background:#2d2d2d;
  color:white;
  cursor:pointer;
  border-radius:6px;
}

.topbar button.activo{
  background:#4caf50;
}

/* IZQUIERDA */
.left-menu {
  display: flex;
  gap: 10px;
}

/* DERECHA */
.user-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

/* Avatar */
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  min-width: 200px;
  z-index: 9999;
}

.user-name {
  font-weight: 500;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

.logout {
  color: red;
  display: flex;
  align-items: center;
  gap: 6px;
}

.contenido{
  padding:15px;
}
